*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card {
border: 2px solid #f39c12;
border-radius: 20px;
max-width: 700px;
display: flex;
flex-direction: column;
min-height: 90vh;
padding: 20px;
background-color: rgba(255, 255, 255,0.8);
}
.card h2{
    color: #f39c12;
}

.photo-beer{
    height: 50vh;
}
.photo-card{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.load-div{
    display: flex;
     justify-content: center;
     align-items: center;
}

.text-card{
    position: relative;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .card{
        width: 90%;
    }
}